.account{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerAccount{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
}
.account input{
    padding: 5px;
}
.account input:focus{
    outline: 2px solid #37c871;
}
.account button{
    margin: 20px 0px;
}
.account label{
    margin: 5px 0px;
}
.account a{
    color: blue;
}
.required{
    border: 2px solid red;
}
@media screen and (max-width: 530px){
    .innerAccount{
        max-width: 95%;
        min-width: 95%;
    }
}

.serverError {
    background-color: red ;
    padding: 10px ;
    border: 1px solid darkred ;
}

.dynamicNewLine {
    white-space: pre-line;
  }