.courseadmin{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.courseadmin button{
    margin: 5px;
}
#editCourse{
    background-color: orange;
}
#addLesson{
    background-color: lightblue;
}
#cancelEditCourse{
    background-color: red;
}
#saveCourse{
    background-color: green;
}
#deleteCourse{
    background-color: darkred;
}